@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@-webkit-keyframes animationForm {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animationForm {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 768px) {
  .label.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .label.anim-items.active {
    -webkit-transition: all ease 1.2s 0.2s;
    transition: all ease 1.2s 0.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }

  .anim-column.anim-items {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .anim-column.anim-items.active:first-child {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .anim-column.anim-items.active:nth-child(2) {
    -webkit-transition: all ease 1.2s 0.2s;
    transition: all ease 1.2s 0.2s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .anim-column.anim-items.active:last-child {
    -webkit-transition: all ease 1.2s 0.4s;
    transition: all ease 1.2s 0.4s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  height: 32px;
  width: 32px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../../img/slider/right.png") 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../../img/slider/right.png") 0 0/100% no-repeat;
}

/* Точки (булиты) */
.reviews-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-slider .slick-dots li {
  margin: 0px 7px;
}

/* Активная точка */
.reviews-slider .slick-dots li.slick-active button {
  background-color: black;
}

/* Элемент точки */
.reviews-slider .slick-dots li button {
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(129, 126, 126);
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #252B42;
  font-weight: 500;
  background-color: #FAFAFA;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
@media (max-width: 767px) {
  .header {
    position: relative;
    background-color: black;
  }
}
.header__container {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .header__container {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .header__container .burger {
    display: block;
    position: absolute;
    top: 40px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header__container .burger span {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .header__container .burger span:first-child {
    top: 0px;
  }
  .header__container .burger span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header__container .burger.active {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .header__container .burger.active span {
    background-color: white;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__container .burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header__container .burger.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}
@media (max-width: 600px) {
  .header__container .burger {
    top: 29px;
  }
}
.header__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .header__row {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__row.active {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__row > *:not(:last-child) {
    margin-bottom: 40px;
  }
  .header__row > *:last-child {
    padding-bottom: 40px;
  }
}
.header__name {
  z-index: 21;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .header__name {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__links > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
.header__link {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .header__link {
    margin: 0;
  }
}
.header__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #000000;
  min-height: 40px;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 30px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.header__btn:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 5px 5px 7px 1px rgb(90, 89, 89);
          box-shadow: 5px 5px 7px 1px rgb(90, 89, 89);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.showcase__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.showcase__text {
  z-index: 4;
  margin: auto auto;
  width: 960px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .showcase__text {
    width: 800px;
  }
}
@media (max-width: 876px) {
  .showcase__text {
    width: 100%;
    padding: 0 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 100px 15px;
  }
}
.showcase__text .showcase__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  font-size: 72px;
  line-height: 1.17;
  margin-bottom: 39px;
}
@media (max-width: 876px) {
  .showcase__text .showcase__title {
    font-size: 52px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .showcase__text .showcase__title {
    font-size: 36px;
  }
}
@media (min-width: 767px) {
  .showcase__text .showcase__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .showcase__text .showcase__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.showcase__text .showcase__sub-title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 22px;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 75px;
}
@media (max-width: 876px) {
  .showcase__text .showcase__sub-title {
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .showcase__text .showcase__sub-title {
    font-size: 18px;
  }
}
@media (min-width: 767px) {
  .showcase__text .showcase__sub-title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .showcase__text .showcase__sub-title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.showcase__btn {
  display: inline-block;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  border: 3px solid #ffffff;
  text-align: center;
  min-height: 60px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
@media (max-width: 400px) {
  .showcase__btn {
    font-size: 14px;
    padding: 0 20px;
    line-height: 428.5714285714%;
  }
}
@media (min-width: 768px) {
  .showcase__btn {
    -webkit-animation: animationForm 1.2s;
            animation: animationForm 1.2s;
  }
}
.showcase__btn:hover {
  border: 3px solid #a92929;
  color: #a92929;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.showcase::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

.content {
  position: relative;
}

.showcase::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(transparent));
  background: linear-gradient(to top, #000000, transparent);
}

.invite {
  position: relative;
  padding: 135px 0 105px 0;
  color: white;
  z-index: 5;
  background-color: black;
}
@media (max-width: 800px) {
  .invite {
    padding: 40px 0 80px 0;
  }
}
.invite__text {
  text-align: center;
}
.invite__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  font-size: 64px;
  line-height: 1.23;
  margin-bottom: 41px;
}
@media (max-width: 800px) {
  .invite__title {
    font-size: 36px;
  }
}
@media (max-width: 450px) {
  .invite__title {
    font-size: 30px;
  }
}
@media (min-width: 767px) {
  .invite__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .invite__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .invite__title.anim-items {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .invite__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
.invite__subtitle {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 105px;
}
@media (min-width: 768px) {
  .invite__subtitle.anim-items {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .invite__subtitle.anim-items.active {
    -webkit-transition: all ease 1.2s 0.5s;
    transition: all ease 1.2s 0.5s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .invite__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .invite__subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  .invite__subtitle {
    font-size: 15px;
  }
}
.invite__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .invite__form.anim-items.active {
    -webkit-animation: animationForm 1.2s;
            animation: animationForm 1.2s;
  }
}
@media (max-width: 767px) {
  .invite__form {
    display: block;
  }
}
.invite__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 374px;
          flex: 0 0 374px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .invite__input {
    padding-right: 0px;
    padding-bottom: 20px;
  }
}
.invite__input input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: #c9c9c9;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  font-style: italic;
  border: 1px solid #c9c9c9;
}
.invite__input input:focus {
  font-style: normal;
  color: white;
  font-style: normal;
}
.invite__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 375px;
          flex: 0 0 375px;
}
.invite__btn {
  width: 100%;
  height: 60px;
  color: black;
  background-color: #ffffff;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 700;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.invite__btn:hover {
  background-color: #c9c9c9;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.types-of-dance {
  padding-bottom: 30px;
  background-color: black;
}
.types-of-dance .types__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 850px) {
  .types-of-dance .types__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.types-of-dance .container {
  max-width: 1200px;
}
@media (max-width: 880px) {
  .types-of-dance .container {
    max-width: 100%;
  }
}
@media (max-width: 850px) {
  .types-of-dance .container > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.item:nth-child(2) .item__column:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.item:nth-child(2) .item__column:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  .item__column:nth-child(odd).anim-items {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .item__column:nth-child(odd).anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .item__column:nth-child(even).anim-items {
    background-color: #000000;
  }
  .item__column:nth-child(even).anim-items.active {
    background-color: #a92929;
    -webkit-transition: all ease 0.8s 0.8s;
    transition: all ease 0.8s 0.8s;
  }
}
@media (max-width: 768px) {
  .item__column:nth-child(even) {
    background-color: #a92929;
  }
}
.item__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__image {
  padding-bottom: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.item__image-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  visibility: hidden;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  opacity: 0;
}
.item__image:hover .item__image-more {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  visibility: visible;
  opacity: 1;
}
.item__text {
  width: 401px;
  text-align: center;
}
@media (max-width: 850px) {
  .item__text {
    padding: 100px 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .item__text {
    padding: 100px 15px 100px;
  }
}
.item__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  font-size: 36px;
  line-height: 1.23;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .item__title {
    font-size: 28px;
  }
}
@media (min-width: 767px) {
  .item__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .item__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.item__label {
  padding: 0 5px;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  line-height: 156.25%;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .item__label {
    font-size: 14px;
  }
}

.schedule {
  background-color: #000000;
}
.schedule__container {
  padding: 105px 15px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 968px) {
  .schedule__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 15px 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.schedule__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  line-height: 1.55;
  font-size: 22px;
  color: white;
}
@media (max-width: 968px) {
  .schedule__label {
    padding: 0 50px;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .schedule__label {
    font-size: 18px;
    padding: 0;
  }
}
.schedule__btn {
  -webkit-box-shadow: 0 0 10px 2px #4c4b4b;
          box-shadow: 0 0 10px 2px #4c4b4b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  margin-left: 40px;
  display: inline-block;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  border: 0px solid #ffffff;
  background-color: #ffffff;
  min-height: 60px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
@media (max-width: 968px) {
  .schedule__btn {
    max-width: 260px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-left: 0;
  }
}
.schedule__btn:hover {
  background-color: #c9c9c9;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.teachers {
  padding: 100px 0px;
}
@media (max-width: 600px) {
  .teachers {
    padding: 60px 0px;
  }
}
.teachers__text {
  text-align: center;
}
.teachers__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .teachers__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .teachers__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .teachers__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.teachers__subtitle {
  color: #000000;
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 40px;
}
@media (max-width: 912px) {
  .teachers__subtitle {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .teachers__subtitle {
    width: 80%;
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .teachers__subtitle {
    font-size: 20px;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .teachers__subtitle {
    font-size: 18px;
    margin: 0px 0px 40px 0px;
  }
}

.teachers-slider {
  position: relative;
  margin-bottom: 100px;
}
.teachers-slider__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  margin-bottom: 20px;
}
.col__image img {
  width: 250px;
  border-radius: 50%;
}
.col__name {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 700;
  margin-bottom: 10px;
}
.col__subtitle {
  font-size: 15px;
  line-height: 1.55;
  font-weight: 300;
  padding: 0px 30px;
}
@media (max-width: 425px) {
  .col__subtitle {
    padding: 0px 10px;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #656464;
}

.timetable {
  color: #000000;
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  .timetable {
    margin-bottom: 60px;
  }
}
.timetable__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .timetable__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .timetable__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .timetable__title {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
  }
}
.timetable__subtitle {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  color: #000000;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .timetable__subtitle {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .timetable__subtitle {
    width: 80%;
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .timetable__subtitle {
    font-size: 20px;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .timetable__subtitle {
    font-size: 18px;
    margin: 0px 0px 40px 0px;
  }
}
.timetable__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.day__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 700;
}
@media (min-width: 768px) {
  .day__name.anim-items {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .day__name.anim-items.active {
    -webkit-transition: all ease 1.2s 0.6s;
    transition: all ease 1.2s 0.6s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@media (max-width: 990px) {
  .day__name {
    margin-bottom: 10px;
  }
}
.day__time {
  font-family: "PT Sans", sans-serif;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
}
@media (min-width: 768px) {
  .day__time li.anim-items {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .day__time li.anim-items.active:first-child {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  .day__time li.anim-items.active:nth-child(2) {
    -webkit-transition: all ease 1.2s 0.1s;
    transition: all ease 1.2s 0.1s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  .day__time li.anim-items.active:last-child {
    -webkit-transition: all ease 1.2s 0.2s;
    transition: all ease 1.2s 0.2s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@media (max-width: 425px) {
  .day__time {
    font-size: 16px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}

.today {
  color: #a92929;
}

.price {
  background-color: #a92929;
  color: white;
  padding: 100px 0px;
}
@media (max-width: 600px) {
  .price {
    padding: 50px 0px;
  }
}
.price__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 767px) {
  .price__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .price__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .price__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.price .container {
  max-width: 1200px;
}

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.price-row__col {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1000px) {
  .price-row__col {
    padding: 0 0;
  }
}
@media (max-width: 1000px) {
  .price-row__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .price-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cost__title {
  padding: 15px 0px;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  font-size: 52px;
  border-bottom: 0.5px solid white;
  margin-bottom: 15px;
}
@media (min-width: 767px) {
  .cost__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .cost__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .cost__title {
    font-size: 42px;
  }
}
@media (max-width: 600px) {
  .cost__title {
    font-size: 36px;
  }
}
.cost__price {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: 300;
}
@media (max-width: 900px) {
  .cost__price {
    font-size: 14px;
  }
}
.cost__descr {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: 300;
}
@media (max-width: 900px) {
  .cost__descr {
    font-size: 14px;
  }
}

.price .container a.showcase__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.price .container a.showcase__btn:hover {
  color: #a92929;
  background-color: white;
}

.questions {
  background-color: black;
  color: #ffffff;
  padding: 100px 0px;
}
@media (max-width: 600px) {
  .questions {
    padding: 60px 0px;
  }
}
.questions__container {
  max-width: 1200px;
}
.questions__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .questions__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .questions__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .questions__title {
    font-size: 36px;
  }
}
.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 1100px) {
  .questions__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.questions__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .questions__item {
    margin-bottom: 30px;
  }
}

.ask__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  height: 65px;
  background-color: #a92929;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 768px) {
  .ask__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
    font-size: 18px;
  }
}
.ask__right {
  padding-left: 15px;
}
.ask__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  font-size: 19px;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .ask__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .ask__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .ask__title {
    margin-bottom: 5px;
  }
}
.ask__answ {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  text-align: left;
  font-size: 14px;
}

.competitions {
  padding: 135px 0 105px 0;
}
@media (max-width: 600px) {
  .competitions {
    padding: 60px 0 60px 0;
  }
}
.competitions__container {
  max-width: 960px;
}
@media (max-width: 1100px) {
  .competitions__container {
    width: 1;
  }
}
.competitions__text {
  text-align: center;
  margin-bottom: 75px;
}
.competitions__label {
  font-size: 16px;
  margin-bottom: 22px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 2.5px;
}
@media (max-width: 767px) {
  .competitions__label {
    font-size: 14px;
  }
}
.competitions__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  color: #000000;
  font-size: 36px;
  line-height: 1.23;
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .competitions__title {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .competitions__title {
    font-size: 24px;
  }
}
@media (min-width: 767px) {
  .competitions__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .competitions__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.competitions__sub-title {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
  color: #000000;
  opacity: 0.7;
}
@media (max-width: 600px) {
  .competitions__sub-title {
    font-size: 14px;
  }
}
.competitions__video {
  padding-bottom: 56.25%;
  position: relative;
}
.competitions__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adress {
  background-color: #a92929;
  padding: 90px 0;
}
@media (max-width: 500px) {
  .adress {
    padding: 50px 0;
  }
}
.adress__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}
@media (max-width: 920px) {
  .adress__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.adress__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
}
@media (max-width: 920px) {
  .adress__column {
    padding: 0 0 40px 0;
    text-align: center;
  }
}
@media (max-width: 1050px) {
  .adress__column {
    font-size: 18px;
  }
}

.adress-contacts__link {
  display: block;
  color: inherit;
}
.adress-contacts__link:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  background-color: #000000;
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", sans-serif;
}
.footer > * {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  color: #656464;
}
@media (max-width: 600px) {
  .footer > * {
    font-size: 16px;
  }
}
.footer__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.reviews {
  padding: 100px 0px;
}
.reviews-slider {
  position: relative;
}
.reviews__title {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 700;
  color: white;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .reviews__title.anim-items {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  .reviews__title.anim-items.active {
    -webkit-transition: all ease 1.2s;
    transition: all ease 1.2s;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .reviews__title {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .reviews {
    padding: 60px 0px;
  }
}

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.rev__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  width: 150px;
  margin-bottom: 20px;
}
.rev__image img {
  width: 100%;
  border-radius: 50%;
}
.rev__text {
  width: 50%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000;
}
@media (max-width: 860px) {
  .rev__text {
    width: 60%;
  }
}
@media (max-width: 760px) {
  .rev__text {
    width: 70%;
  }
}
@media (max-width: 670px) {
  .rev__text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .rev__text {
    font-size: 16px;
  }
}
.rev__name {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 700;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .rev__name {
    font-size: 25px;
  }
}
.rev__prof {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
}
@media (max-width: 425px) {
  .rev__prof {
    font-size: 12px;
  }
}