.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.teachers-slider .slick-track{
    display: flex;
}
.teachers-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 32px;
    width: 32px;
}
/* Стрелка влево */
.teachers-slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../../img/slider/right.png') 0 0/100% no-repeat;
    transform: rotate(180deg);
}
/* Стрелка вправо */
.teachers-slider .slick-arrow.slick-next{
    right: 0;
    background: url('../../img/slider/right.png') 0 0/100% no-repeat;
}